{% load static %}

<html>
<!--Maaf bukan anak frontend, kenapa ppw nya begini -_- -->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mysite</title>
    {% block additional_css %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'story4/my.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>


<body>
    <div class="main">
        <div class="second_half">
            <div class="navbarku">
                <a href="index.html" id="index.html">Home</a>
                <a href="projects.html" id="projects.html">Projects</a>
                <a href="articles.html" id="articles.html">Article</a>
                <a href="register.html" id="register.html">Register</a>
                <a href="jadwal.html" id="jadwal.html">Jadwal</a>
            </div>
            <br>
            <div>
                <table class="main_header">
                    <tr>
                        <td>
                            <div class="nameku">
                                Steven
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="vline">
                            <div class="nameku">
                                Kusuman
                            </div>
                        </td>
                        <td class="second">
                            <img src="{% static 'story4/github.png' %}" class="img_icon" />
                            <img src="{% static 'story4/linkedin.png' %}" class="img_icon" />
                        </td>
                    </tr>
                    <tr>
                        <td class="vline">A newbie developer</td>
                        <td class="second">deadf00d@protonmail.ch</td>
                    </tr>
                </table>
            </div>
            {% block content %}
            {% endblock %}
        </div>
        <div class="half">
            <iframe width="100%" height="100%" src="https://docs.google.com/document/d/e/2PACX-1vSSEfwlJ2T6PcQ4AbI27hehzBpw2_ftje285EKFbLFUg98aHyC1f9THENLB8LHlLyII6wTp2k3zRVf_/pub?embedded=true"></iframe>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'story4/rootkit.js' %}"></script>
    {% block additional_js %}
    {% endblock %}
</body>

</html>