{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class="registration_form" style="max-width: 28vw">
    <form class="form-horizontal" method="post">{% csrf_token %}
        <fieldset style="margin-left:10px">
            <legend>{{ title }}</legend>
            {% for field in form %}
            {% if field.errors %}
            <div class="control-group error">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">{{ field }}
                    <span class="help-inline">
                        {% for error in field.errors %}{{ error }}{% endfor %}
                    </span>
                </div>
            </div>
            {% else %}
            <div class="control-group">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">{{ field }}
                    {% if field.help_text %}
                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </fieldset>
        <div class="form-actions" style="margin-top: 10px;margin-left: 10px;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="form-actions" style="margin-top: 10px;margin-left: 10px;">
            <button type="button" onclick="myMeanFunction()" class="btn btn-danger">Delete All</button>
        </div>
    </form>
</div>
<br>
{% for jadwal_pribadi in jadwal_pribadis %}
<div class="card text-white bg-info mb-3" style="max-width: 28vw; font-size: 2vw">
    <div class="card-header">{{ jadwal_pribadi.name }}</div>
    <div class="card-body">
        <h5 class="card-title">{{ jadwal_pribadi.date }}</h5>
        <h5 class="card-title">{{ jadwal_pribadi.time }}</h5>
        <h5 class="card-title">{{ jadwal_pribadi.tempat }}</h5>
        <span class="badge badge-secondary">{{ jadwal_pribadi.kategori }}</span>
    </div>
    <div class="card-footer">
        <button type="button" onclick="myFunction('{{ jadwal_pribadi.pk }}')" class="btn btn-danger">Delete</button>
    </div>
</div>
{% endfor %}
{% endblock %}
{% block additional_js %}
<script>
    function myFunction(pk) {
        $.post("delete_jadwal", { 'pk': pk }, function (data) { window.location.reload(); });
    }
    function myMeanFunction() {
        $.post("delete_jadwal_all", function (data) { window.location.reload(); });
    }
</script>
<script type="text/javascript" src="{% static 'story4/rootkit.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
{% endblock %}