{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <div class="mycardcoy">
        <div>
            <img src="{% static 'story4/maxresdefault.jpg' %}" class="projects_img">
        </div>
        <div class="txt">
            <div class="txt_title"><a href="#">n0psled/pwntools</a></div>
            <div>
                Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae
            </div>
        </div>
    </div>
    <div class="mycardcoy">
        <div>
            <img src="{% static 'story4/maxresdefault.jpg' %}" class="projects_img">
        </div>
        <div class="txt">
            <div class="txt_title"><a href="#">n0psled/pwntools</a></div>
            <div>
                Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae
            </div>
        </div>
    </div>
</div>
{% endblock %}