<!DOCTYPE html>
<html lang="en">
<style>
    .container {
        display: flex;
    }

    .data {
        margin: -10px 20px;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>

<body>
    <div class='container'>
        <div>
            <img src={{img_src}} height=120px width=100px>
        </div>
        <div class='data'>
            <h1>Hello my name is {{ name }}</h1>
            <article>NPM : {{ npm }}</article>
            <article>I am {{ age }} years old</article>
            <article>My hobby is {{ hobby }}</article>
        </div>
    </div>
</body>

</html>